@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@500&display=swap');
html{
    scroll-behavior: smooth;
}
body{
    font-family: 'Raleway', sans-serif;
}
a{
    text-decoration: none;
}
.bg-light-orange{
    background-color: #FCEAE8;
}
.bg-light-purple{
    background-color: #DA70D6;
}
.bg-tomato, .btn-tomato{
    background-color: #FF136F;
    color: #fff;
}

